* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box2{
  margin-top: 30px;
}
.secinner{
  margin-left: 50%;
  margin-top: -80px;
  text-align: end;
  font-size: larger;
  font-weight: bold;
}
.box{
  margin-bottom: 40px;
}
.container{
border: solid black 7px;
width: 40%;
height: 100vh;
margin-left: 25%;
background-color:#e5e5fd;
}
.space{
  margin: 50px 50px 50px 50px ;
}
.secinner2{
  font-weight:bold;
  margin-top: 30px;
font-size: 9px;
text-align: justify;
}
img{
  height: 220px;
  width: 180px;
  border-radius: 90px ;
}
.innerbox2{
  font-weight: bold;
  font-size: 10px;
  text-align: justify;
}
.box3{
  text-align: end;
    font-weight:bold;
  margin-top: 20px;
font-size: 10px;
}